/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Jan, 2015, 10:16:03 PM
    Author     : tilak
*/

/*
 * Base structure
 */
 .wiki_head{
 
 padding-top:15px;
 }
 .wiki_head>h4{
 padding-left:10px;margin:0px;color:#474747;
 
 }
#frm{
height:46px;

}
#predefined_questions >a {
background-color: #00b4ff !important;

}
#div_for_back{
z-index:0;position:absolute;width:100%;height:46px;
}
.scroll-top-wrapper { border-color: #eeeeee;position: fixed; opacity: 0; visibility: hidden; overflow: hidden; text-align: center; z-index: 99999999; color: #eeeeee; width: 50px; height: 48px; line-height: 48px; right: 30px; bottom: 30px; padding-top: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; } .scroll-top-wrapper:hover { background-color: #888888; } .scroll-top-wrapper.show { visibility:visible; cursor:pointer; opacity: 1.0; } .scroll-top-wrapper i.fa { line-height: inherit; }
html,body {
  width: 100%;
  height: 100%;
min-width:320px;
  
}
.background{

background-color:#474747;

}
.fostyle{
      font-family: 'arial', sans-serif;font-weight: 500;color:#FFFFFF;
    }   
.fostyle1{
      font-family: 'Quicksand', sans-serif;font-weight: 700;color:#FFFFFF;font-size:2.2em;margin-bottom: 0px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
.fostyle2{
      font-family: 'Quicksand', sans-serif;font-weight: 400;color:#FFFFFF;font-size:1em;
    }
.cast_link{
color: white;
font-size: 16px;
word-wrap: break-word;
}    
.cast_link:hover{
color:#ee1d00;
}  
.no-back{
border:0px;
background:rgba(0,0,0,0);
}      
#movie_extra{

border:0px;margin-top:15px;margin-left:2px;margin-right:2px;margin-bottom:0px;
}
.btn2{
      border:0px solid transparent;background-color:transparent !important;

    }
.btn1{
      border:0px solid transparent !important;background-color:#DDDDDD !important;width:inherit;

    }
.backinput{
      font-family: 'arial', sans-serif !important;font-weight: 400 !important;color:#7b7b7b  !important;
padding-top:10px !important;padding-bottom:10px !important;padding-left:16px !important;padding-right:16px !important;cursor:text !important;position:absolute !important;left:0px !important;z-index:0 !important;font-size:1.5em !important;display:block !important;border:none;height:100%;
     }
.spanbtn{

border:0px solid transparent;background-color:#DDDDDD;color:white;
}
    .form-control1:focus{border-color:#505050;outline:0;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)}
    .search_bar{
        width: 100%;
       
    }
    @media (max-width: 767px) {
    #search_bar,#search,#input_back {

width:95% !important;
}

    }
@media (max-width: 480px) {
#search_bar,#search,#input_back{

width:95% !important;
}
}
    
    
.nav-panel{

position:fixed;
top:0px;
z-index:100;
width:100%;/*moz*/
}
.nav-panel>div{
background: #2d2d2d !important;

}
.alpha-blur >*{color:#dfdddd !important;}
.alpha-blur{

  background: rgba(45,45,45,1.0) !important;
//-webkit-filter: blur(1px) !important;
//-webkit-filter: drop-shadow(1px 1px 20px black) !important;
}
   .ui-autocomplete{
        
        background-color:rgba(45,45,45,0.9);
        z-index: 105;
        position: absolute;
	padding-left:0px !important;
        
    }
    .ui-autocomplete > li    {
        
        list-style: none;
    }    
    
    .ui-autocomplete > li>a{
         width:100%;
         display: block;
        list-style: none;
        cursor:pointer;
	padding-left:10px !important;
        text-decoration: none;
       font-family: 'arial', sans-serif;font-weight: 500;color:#FFFFFF;font-size:1.5em;
        
        
    }
   
   
  
    .red-theme{
        background-color:#bd0018 !important;
    }
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


#smart_col{

margin-top:82px;
}
#smart_answer{
    margin-top: 25px;
margin-bottom:25px;
    border-radius:4px;border:0px !important;
    color:white;
    word-wrap:break-word;
    padding-top:10px !important;
background-color:rgba(34,34,34,0.7) !important;    
}
@media (max-width: 1000px) {
    .affix {
        position: static;
    }
}
#collapsee{
    margin-bottom: 20px;
}
.full-height{
    height: 100% !important;
}
.side{
padding-right:0px !important;
padding-top:20px !important;
padding-left:0px !important;

}
.ui-autocomplete {
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.ui-autocomplete.opened {
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
/* Sidebar navigation */
.nav-sidebar {

margin-left: 15px;
margin-top:82px;


}
.nav-sidebar > li {
 width:88%;
}
.nav-sidebar > li > a{
color:white;

}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: #e2e2e2;
 <!--  background-color:rgba(59,197,254,0.6) !important; -->
 
 background-color:#1565c0;
}


.active{
    background-color: #00b4ff;
   
}

#centre_parent{

margin-top:82px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.table{

border-radius:4px !important;

}




/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
.background{
background-image:url("/dfs.jpg");

}


 }
 .btn-primary{
background-color:#00b4ff !important;
}
.btn-primary:hover{
background-color:#028cc5 !important;
}
#news,#wiki{
margin-bottom:15px;

}
.search_result{padding:15px;clear:both;}
.search_result:hover{
cursor:pointer;
background-color:#383838!important;

}
.search_title{color:#DFDDDD;font-size: 18px;word-wrap:break-word;}
.search_title:hover{text-decoration: underline;word-wrap:break-word;}
.search_green{color:#bcbbbb;font-size:14px;word-wrap:break-word;}
.search_info{color:#bcbbbb;margin-bottom:5px !important;word-break:normal;word-wrap:break-word;padding-top:5px !important;}
.search_title:hover{
color:#DDDDDD;
}
#search{

font-size:1.5em;display:block;color:#474747;
}
.full-width{

width:100%;
}
#poster{
border:0px;
}
#name{
border:0px;text-align:center;padding:4px;
}
#smart_movie{
border:0px;color:white;
}
#logo > span{
    cursor:pointer;
    
}

#logo{
height:62px;

}
.padded_body{
    padding-top: 20px !important; 
padding-right:15px !important;   
}



.input-group{
    width: 100%;
    //padding-top:8px !important;
    //padding-bottom:8px !important;
    
}
form{

margin-top:8px !important;
margin-bottom:8px !important;

}
#search{
//margin-top:8px !important;
//height:32px;
//padding-bottom:8px !important;
}
.btn1{
//margin-top:8px !important;
//height:32px !important;

}
#logo{
    padding-top: 9px !important;
padding-bottom:8px !important;
}
.alpha-blur td{
border:0px !important;
//-webkit-filter: blur(7px);
}
.no-results{
font-size:1em;
background-color:#333333;
color:white;
font-family: 'Quicksand', sans-serif;font-weight: 400;color:#FFFFFF;font-size:18px;
}

#predefined_questions{

margin:0px !important;
margin-bottom:20px !important;

}


#collapsee>a{

border-top-left-radius:0px !important;
border-top-right-radius:0px !important;

}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #232323;
    border: none;
    color:#000;
    border-radius:0;
    font-weight: normal;
}
.highlight{
font-weight: 600;color:#FFFFFF;

}

.truncate {
  width: 500px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media(max-width:480px){

.col-tn-1{float:none;}
.col-tn-10{float:none;}
}
.stocks_font{

font-size:0.9em;

}
