/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Jan, 2015, 10:16:03 PM
    Author     : tilak
*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html,body {
  width: 100%;
  height: 180%;
  
}
.background{
    position: fixed;
    top:0px;
    width: 100%;
    height: 100%;
    background-image: url('/test1/images/bg.jpg');
  background-repeat:no-repeat;
    background-size: cover;
-webkit-filter: blur(1px) !important;
}
.fostyle{
      font-family: 'Quicksand', sans-serif;font-weight: 500;color:#FFFFFF;
    }   
.fostyle1{
      font-family: 'Quicksand', sans-serif;font-weight: 700;color:#FFFFFF;font-size:2.2em;margin-bottom: 0px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
.fostyle2{
      font-family: 'Quicksand', sans-serif;font-weight: 400;color:#FFFFFF;font-size:1em;
    }
    
  
      
    
.btn1{
      border:0px solid transparent;background-color:#000000;

    }
    .form-control1:focus{border-color:#505050;-webkit-filter: drop-shadow(2px 2px 5px #bd0018);outline:0;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)}
    .search_bar{
        width: 60%;
       
    }
.nav-panel>*{
//    background: #333 !important;
background: rgba(71,71,71,1);
background: -moz-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 5%, rgba(44,44,44,1) 34%, rgba(51,51,51,1) 53%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(5%, rgba(43,43,43,1)), color-stop(34%, rgba(44,44,44,1)), color-stop(53%, rgba(51,51,51,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 5%, rgba(44,44,44,1) 34%, rgba(51,51,51,1) 53%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 5%, rgba(44,44,44,1) 34%, rgba(51,51,51,1) 53%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 5%, rgba(44,44,44,1) 34%, rgba(51,51,51,1) 53%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 5%, rgba(44,44,44,1) 34%, rgba(51,51,51,1) 53%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#131313', GradientType=0 );
}
.alpha-blur{
  background: rgba(34,34,34,0.45) !important;
//-webkit-filter: blur(1px) !important;
//-webkit-filter: drop-shadow(1px 1px 20px black) !important;
}
   .ui-autocomplete{
        
        background-color:rgba(0,0,0,0.7);
        z-index: 99;
        position: absolute;
        
    }
    .ui-autocomplete > li    {
        
        list-style: none;
    }    
    
    .ui-autocomplete > li>a{
         width:100%;
         display: block;
        list-style: none;
        cursor:pointer;
        text-decoration: none;
       font-family: 'Quicksand', sans-serif;font-weight: 500;color:#FFFFFF;font-size:1.5em;
        
        
    }
   
   
  
    .red-theme{
        background-color:#bd0018 !important;
    }
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



#smart_answer{
    margin-top: 25px;
margin-bottom:25px;
    border-radius:4px;border:0px !important;
    color:white;
    word-wrap:break-word;
    padding-top:10px !important;
background-color:rgba(34,34,34,0.7) !important;    
}
#collapsee{
    margin-bottom: 20px;
}
.full-height{
    height: 100% !important;
}
.side{
postion:fixed !important;
top:0px !important;

}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
 

}

.nav-sidebar > li > a{

color: #e2e2e2;

}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: #e2e2e2;
  background-color:rgba(189,0,24,0.3);
}


.active{
    background-color: #bd0018;
   
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.table{

border-radius:4px !important;

}




/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
.background{
background-image:url("/dfs.jpg");

}


 }
.search_result{}
.search_title{color:white;font-size: 16px;word-wrap:break-word;}
.search_title:hover{text-decoration: underline;word-wrap:break-word;}
.search_green{color:#EE3900;word-wrap:break-word;}
.search_info{color:#3d3d3d;word-break:normal;word-wrap:break-word;}
.search_title:hover{
color:#ee1d00;
}

#logo > span{
    cursor:pointer;
    
}


.padded_body{
    padding-top: 50px !important;    
}



.input-group{
    width: 70%;
    //padding-top:8px !important;
    //padding-bottom:8px !important;
    
}
form{

margin-top:8px !important;
margin-bottom:8px !important;

}
#search{
//margin-top:8px !important;
//height:32px;
//padding-bottom:8px !important;
}
.btn1{
//margin-top:8px !important;
//height:32px !important;

}
#logo{
    padding-top: 9px !important;
padding-bottom:8px !important;
}
.alpha-blur td{
border:0px !important;
//-webkit-filter: blur(7px);
}
.no-results{
font-size:1em;
background-color:#333333;
color:white;
font-family: 'Quicksand', sans-serif;font-weight: 400;color:#FFFFFF;font-size:18px;
}

#predefined_questions{

margin:0px !important;

}


#collapsee>a{

border-top-left-radius:0px !important;
border-top-right-radius:0px !important;

}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #bd0018;
    border: none;
    color:#000;
    border-radius:0;
    font-weight: normal;
}
.highlight{
font-family: 'Quicksand', sans-serif;font-weight: 800;color:#FFFFFF;

}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
