
html,body {
 height:100%;
  width:100%;
min-width:320px;
background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

}
#back{
    width:100%;
    height:90%;
  //  background-image: url('/ver1/images/bg.jpg');
  //  background-repeat: no-repeat;
  //  background-size: cover;

}
#search_front_page{
    width:100%;
    height:100%;
}
.full-size{
    width:100%;
    height: 100%;
margin:0px !important;
}
.search_div{
    height: 60%;
    width:100%;
    padding-top: 10%;
}
    .fostyle{
      font-family: 'arial', sans-serif;font-weight: 500;color:#FFFFFF;
    }

    .fostyle1{
      font-family: 'Quicksand', sans-serif;font-weight: 600;color:#FFFFFF;font-size:6em;margin-bottom: 0px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }

    .fostyle2{
      font-family: 'Quicksand', sans-serif;font-weight: 400;color:#FFFFFF;font-size:3em;
    }
    .btn1{
      border:0px solid transparent;background-color:#000000;

    }
.spanbtn{

border:0px solid transparent;background-color:#000000;color:white;
}
    .vcenter{
    display:inline-block;
    vertical-align:middle;
    float:none;
    
    }
    .form-control1:focus{border-color:#505050;outline:0;box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)}
.search_bar{
        width: inherit;
       
    }
    .ui-autocomplete{
        
        background-color:rgba(0,0,0,0.7);
        z-index: 99;
        position: absolute;
padding-left:15px !important;
padding-right:15px !important;
        
    }
    .ui-autocomplete > li    {
        
        list-style: none;
    }    
    
    .ui-autocomplete > li>a{
         width:100%;
         display: block;
        list-style: none;
        cursor:pointer;
        text-decoration: none;
        font-family: 'arial', sans-serif;font-weight: 500;color:#FFFFFF;font-size:1.5em;
        
        
    }
   

    
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;padding: 0px; padding-left:5px;padding-right: 5px;
}
#search_result{border:1px;}
#search_title{color:#2A5DB0;font-size: 16px;}
#search_title:hover{text-decoration: underline;}
#search_green{color:green;}
#search_info{color:#3d3d3d;word-break:normal;}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #bd0018;
    border: none;
    color:#000;
    border-radius:0;
    font-weight: normal;
}
.highlight{
font-family: 'Quicksand', sans-serif;font-weight: 800;color:#FFFFFF;

}


